@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
body {
  padding: 0;
  margin: 0px;
  background: black;
  font-family: 'Open Sans', sans-serif; }
  body .videotasiyici {
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    z-index: 0;
    overflow: hidden; }
    body .videotasiyici .main {
      width: 50%;
      height: auto;
      margin: 30vh auto;
      padding: 50px;
      box-sizing: border-box;
      position: relative;
      color: white;
      border: 10px solid white;
      border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><defs><linearGradient id='redgradient'><stop offset='0' stop-color='%23FFC14D'/><stop offset='0.362' stop-color='%23FF4834'/><stop offset='1' stop-color='%233B0300'/></linearGradient></defs><g id='Layer_1'><path d='M0,0 L50,0 L50,50 L0,50 L0,0 z' fill='url(%23redgradient)' width='100%' height='100%'/></g></svg>") 10% stretch;
      text-align: center; }
      body .videotasiyici .main .main-baslik {
        width: 100%;
        text-align: center;
        font-size: 30px; }
      body .videotasiyici .main .main-icerik {
        width: 100%;
        text-align: center;
        font-size: 45px;
        font-weight: bold;
        margin-top: 25px; }
      body .videotasiyici .main .butonlar {
        padding: 20px;
        width: 200px;
        font-size: 20px;
        font-weight: bold;
        margin: 25px auto;
        border: 10px solid white;
        border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><defs><linearGradient id='redgradient'><stop offset='0' stop-color='%23FFC14D'/><stop offset='0.362' stop-color='%23FF4834'/><stop offset='1' stop-color='%233B0300'/></linearGradient></defs><g id='Layer_1'><path d='M0,0 L50,0 L50,50 L0,50 L0,0 z' fill='url(%23redgradient)' width='100%' height='100%'/></g></svg>") 10% stretch;
        transition: 500ms; }
        body .videotasiyici .main .butonlar:hover {
          opacity: 0.2;
          transition: 500ms; }
        body .videotasiyici .main .butonlar a {
          text-decoration: none;
          font-size: 20px;
          font-weight: bold;
          color: white; }
    body .videotasiyici video {
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      opacity: 0.8; }

/*# sourceMappingURL=style.css.map */
